<%
  var options = userFilters || {};
  options.locale = locale;
  options.url = {
    list: `${module}/api/${className}/filter/list`,
    add: `${module}/api/${className}/filter/add`,
    edit: `${module}/api/${className}/filter/edit`,
    remove: `${module}/api/${className}/filter/remove`,
    selection: `${module}/api/${className}/:propName/selection`
  };
%>

<div class="modal" style="display: none">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <%=__('Фильтр списка')%>
        </h4>
      </div>
      <div class="modal-body">
        <div class="list-filter" data-table="ion_filter" data-options="<%=JSON.stringify(options)%>">
          <input type="hidden" id="cls_filter" value="">
          <div class="filter-tools">
            <select class="select-filter form-control">
              <option value><%=__('Выберите фильтр...')%></option>
            </select>
            <div class="filter-tool-btns">
              <button class="create-filter btn btn-success" title="<%=__('Создать фильтр')%>">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button class="update-filter btn btn-info" title="<%=__('Править фильтр')%>">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
              <button class="reset-filter btn btn-warning" title="<%=__('Сбросить фильтр')%>">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
          <form id="filter-editor" class="filter-editor">
            <div class="input-group query-container">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-terminal" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu scrollable-menu"></ul>
              </div>
              <input type="text" name="query" class="form-control filter-query" />
              <i class="fa fa-question-circle helper-addon" data-toggle="tooltip" data-placement="top" 
                title="<%=__('Синтаксис запроса')%>"></i>
            </div>
            <div class="filter-controls">
              <label class="filter-global control-label">
                <input class="filter-global-checkbox" type="checkbox"> <%=__('Для всех классов')%>
              </label>
              <input type="text" class="form-control filter-name" name="filterName"
                placeholder="<%=__('Введите название фильтра...')%>">
              <button class="save-filter btn btn-info" title="<%=__('Сохранить')%>" type="button">
                <%=__('Сохранить')%>
              </button>
              <button class="remove-filter btn btn-link text-danger ml10" title="<%=__('Удалить фильтр')%>" type="button">
                <%=__('Удалить фильтр')%>
              </button>
              <i class="filter-loader fa fa-refresh fa-spin"></i>
              <button class="assign-filter btn btn-primary" type="button">
                <%=__('Применить фильтр')%>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="helper-modal" tabindex="-1" role="dialog" aria-labelledby="helper-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="helper-title">
            <%=__('Синтаксис запроса')%>
          </h4>
        </div>
        <div class="modal-body">
          <%=__('Формирование фильтра обеспечивается путем задания фильтрующей строки, по примеру:<br>`Имя` = "Иван", где `Имя` - наименование атрибута (выбирается из выпадающего списка), а и "Иван" строка (значение атрибута)<br>Для указания ссылочного значения, нужно задать его через точки, пример `Персона`.`Имя` = "Иван"<br>Несколько значения, можно объединить через параметры<br><li><ul>and - И - т.е. обязательно оба (или  больше) значаний</ul><ul>or - ИЛИ - т.е. любое из значений оба (или больше) значаний</ul></li>')%>
        </div>
      </div>
    </div>
</div>